
header{ width: 100;
    height: 100px;
    background-color: #ffffff;
    color: #000000;
    background-image: url('nissan.png') ;
    background-size: 100px;
    background-repeat:no-repeat ;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-radius: 50px;
   }


   .txt{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

   }


   header a{
    color:#000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
   }
   header a + a{
    margin-left: 10px;
   }
   h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}